<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS File</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@100;400;700;900&family=Sacramento&display=swap" rel="stylesheet">
    
</head>
<body style="background-color: <%=bgcolor%>;">

    <h1 class="f-black f-sacramento f-large f-white"><%=listname%></h1>

    <div class="w-30 align-left align-auto">
        <form action="/" method="POST" >
            <input type="text" name="item" class="ht-1-5 wd-250 " autocomplete="off">
            <button type="submit" name="btnsubmit" value="<%=listname%>">+</button>
        </form>
    </div>
    <div class="w-30 align-left align-auto mt-20">
        <%items.forEach((element)=>{%>
        <div>
            <input type="checkbox" name="" id="">
            <p class="lh-1 f-montserrat disp-in-blk"><%=element%></p>
        </div>
        <%});%>
    </div>    

</body>
</html>